// @import "../globals.scss";

$color-primary: #0e4d4e;
// $color-secondary: #7b7b7b;
$color-secondary: #999d9e;
$color-tertiary: #f8f8f8;
$color-white: #ffebcd;
.sectionWhat {
	height: 60vh;
	background-color: #ffebcd;
	padding: 10rem 15rem;

	@media only screen and (max-width: 56.25rem) {
		padding: 2rem 3rem;
		height: 80vh;
	}
	@media only screen and (max-width: 26.75rem) {
		padding: 3rem;
		height: 50vh;
	}
	@media only screen and (max-width: 20rem) {
		height: 70vh;
	}

	&TextBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 10rem;
			@media only screen and (max-width: 56.25rem) {
				margin-bottom: 3rem;
			}
		}
		@media only screen and (max-width: 56.25rem) {
			flex-direction: column;
		}
	}

	&heading {
		color: #0e4d4e;
		font-family: "Aeonik", sans-serif;
		font-size: 3rem;
		font-weight: 400;
		width: 20%;

		@media only screen and (max-width: 56.25rem) {
			font-size: 2rem;
			width: 100%;
			text-align: center;
		}
		// @media only screen and (max-width: 22.5rem) {
		// 	font-size: 1.8rem;
		// 	width: 30%;
		// }
		// @media only screen and (max-width: 20rem) {
		// 	font-size: 1.4rem;
		// 	width: 30%;
		// }
	}

	&Arrow {
		@media only screen and (max-width: 56.25rem) {
			display: none;
		}
	}

	&Paragraph {
		color: #0e4d4e;
		font-size: 2rem;
		width: 50%;
		font-family: "Aeonik", sans-serif;
		line-height: 3rem;
		@media only screen and (max-width: 56.25rem) {
			font-size: 1.5rem;
			width: 100%;
			text-align: center;
		}

		// @media only screen and (max-width: 20rem) {
		// 	font-size: 1.1rem;
		// }
	}
}

.sectionMyWorks {
	padding: 3rem 0 7rem;
	background-color: $color-white;

	&Heading {
		font-family: "Aeonik", sans-serif;
		font-weight: 100;
		font-size: 1.5rem;
		margin-bottom: 5rem;
		color: $color-secondary;
		padding: 0 3.5rem;
		@media only screen and (max-width: 56.25rem) {
			padding: 0 2rem;
		}
	}

	&List {
		list-style: none;
		border-top: 1px solid $color-secondary;
		padding: 0;

		&Item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $color-secondary;
			transition: all 0.3s;
			color: $color-primary;
			padding: 0 3.5rem;
			@media only screen and (max-width: 56.25rem) {
				padding: 0 2rem;
			}

			&:hover {
				background-color: $color-primary;
				color: $color-white;
			}
			&Name {
				font-family: "Aeonik", sans-serif;
				font-size: 2.5rem;
				font-weight: 400;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.5rem;
				}
			}

			&Category {
				font-family: "Aeonik", sans-serif;
				font-size: 1.5rem;
				font-weight: 400;
				color: $color-secondary;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.1rem;
				}
			}

			&Details {
				background-color: $color-primary;
				padding: 2rem 3.5rem 6rem;
				font-family: "Aeonik", sans-serif;
				@media only screen and (max-width: 56.25rem) {
					padding: 2rem 2rem 6rem;
				}
			}
			&Text {
				color: $color-white;
				font-size: 2.5rem;
				margin: 0 0 3rem;
				width: 70%;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.5rem;
					width: 100%;
				}
			}
			&Button {
				padding: 1rem 2rem;
				font-size: 1.5rem;
				text-decoration: none;
				border: none;
				background-color: $color-white;
				color: $color-primary;
				border-radius: 2rem;
				transition: all 0.3s;
				@media only screen and (max-width: 56.25rem) {
					padding: 0.5rem 1rem;
					font-size: 1rem;
				}

				&:hover {
					background-color: $color-primary;
					color: $color-white;
					border: 1px solid $color-white;
				}
			}

			&ImageContainer {
				display: flex;
				gap: 5px;
				justify-content: space-between;
				margin-top: 5rem;
				@media only screen and (max-width: 56.25rem) {
					flex-direction: column;
					gap: 2rem;
				}
			}

			&Image {
				width: 100%;
			}
		}
	}
}
