$color-primary: #0e4d4e;
// $color-secondary: #7b7b7b;
$color-secondary: #999d9e;
$color-tertiary: #f8f8f8;
$color-white: #ffebcd;

.Works {
	padding: 3rem 0 7rem;
	background-color: $color-white;
    height: 100vh;

	&Heading {
		font-family: "Aeonik", sans-serif;
		font-weight: 100;
		font-size: 1.5rem;
		margin-bottom: 5rem;
		color: $color-secondary;
		padding: 0 3.5rem;
		@media only screen and (max-width: 56.25rem) {
			padding: 0 2rem;
		}
	}

	&List {
		list-style: none;
		border-top: 1px solid $color-secondary;
		padding: 0;
		margin-bottom: 5rem;

		&Item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $color-secondary;
			transition: all 0.3s;
			color: $color-primary;
			padding: 0 3.5rem;
			@media only screen and (max-width: 56.25rem) {
				padding: 0 2rem;
                &:hover {
                    background-color: transparent;
                    color: transparent;
                }
			}

			&:hover {
				background-color: $color-primary;
				color: $color-white;
			}
			&Name {
				font-family: "Aeonik", sans-serif;
				font-size: 2.5rem;
				font-weight: 400;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.5rem;
				}
			}

			&Category {
				font-family: "Aeonik", sans-serif;
				font-size: 1.5rem;
				font-weight: 400;
				color: $color-secondary;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.1rem;
				}
			}

			&Details {
				background-color: $color-primary;
				padding: 2rem 3.5rem 6rem;
				font-family: "Aeonik", sans-serif;
				@media only screen and (max-width: 56.25rem) {
					padding: 2rem 2rem 6rem;
				}
			}
			&Text {
				color: $color-white;
				font-size: 2.5rem;
				margin: 0 0 3rem;
				width: 70%;
				@media only screen and (max-width: 56.25rem) {
					font-size: 1.5rem;
					width: 100%;
				}
			}
			&Button {
				padding: 1rem 2rem;
				font-size: 1.5rem;
				text-decoration: none;
				border: none;
				background-color: $color-white;
				color: $color-primary;
				border-radius: 2rem;
				transition: all 0.3s;
				@media only screen and (max-width: 56.25rem) {
					padding: 0.5rem 1rem;
					font-size: 1rem;
				}

				&:hover {
					background-color: $color-primary;
					color: $color-white;
					border: 1px solid $color-white;
				}
			}

			&ImageContainer {
				display: flex;
				gap: 5px;
				justify-content: space-between;
				margin-top: 5rem;
				@media only screen and (max-width: 56.25rem) {
					flex-direction: column;
					gap: 2rem;
				}
			}

			&Image {
				@media only screen and (max-width: 56.25rem) {
					width: 100%;
				}
			}
		}
	}

	// &ButtonContainer {
	// 	width: 100%;
	// 	text-align: center;
	// }

	// &Button {
	// 	background-color: $color-primary;
	// 	padding: 1rem 2.5rem;
	// 	border: none;
	// 	border-radius: 2rem;
	// 	color: $color-white;
	// 	font-family: "Oswald", sans-serif;
	// 	letter-spacing: 0.25rem;
       
	// }
}
