@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");

// $color-primary: #0e4d4e;
// // $color-secondary: #7b7b7b;
// $color-secondary: #999d9e;
// $color-tertiary: #f8f8f8;
// $color-white: #ffebcd;

@font-face {
	font-family: "Aeonik";
	src: url("./fonts/aeonikprotrial-bold.otf") format("opentype");
	font-weight: 700; /* Bold */
	font-style: normal;
}

@font-face {
	font-family: "Aeonik";
	src: url("./fonts/aeonikprotrial-regular.otf") format("opentype");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "Aeonik";
	src: url("./fonts/aeonikprotrial-light.otf") format("opentype");
	font-weight: 100; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Arch";
	src: url("./fonts/Arch-Light.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Arch";
	src: url("./fonts/Arch-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Arch";
	src: url("./fonts/Arch.otf") format("opentype");
	font-weight: 400; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Arch";
	src: url("./fonts/Arch-Light.otf") format("opentype");
	font-weight: 100; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Soage";
	src: url("./fonts/Soage.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}


